<app-navbar></app-navbar>

<hr>

<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" routerLinkActive="active">
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="breadcrumb-item" routerLinkActive="active">
      <a routerLink="/accounts" routerLinkActive="active">Accounts</a>
    </li>
  </ol>
</nav> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-sidenav></app-sidenav>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<hr/>

<!-- <app-footer></app-footer> -->
