<div class="card">
  <div class="card-header card-header-primary">
    Projects
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Account #</th>
      <th scope="col">Customer #</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project  of projects">
      <td>{{project.key}}</td>
      <td>{{project.name}}</td>
      <td>{{project.account}}</td>
      <td>{{project.customer}}</td>
    </tr>
    </tbody>
  </table>
  <div class="card-footer text-muted">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

